<nav class="adminMenu">
	<div class="entete">
		<img src="/images/photos.png">
	</div>
	<ul>

		<li><a href="/photos/ajouter">Ajouter</a></li>
		<li><a href="/photos/supprimer">Supprimer</a></li>

	</ul>
	
</nav>