<nav class="adminMenu">
	<div class="entete">
		<img src="/images/vips.png">
	</div>
	<ul>

		<li><a href="/vip/ajouter">Ajouter</a></li>
		<li><a href="/vip/modifier">Modifier</a></li>
		<li><a href="/vip/supprimer">Supprimer</a></li>

	</ul>
	
</nav>