body {
    font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    background-image:-webkit-linear-gradient(#9f0909, #4e0000);
    background-image:-o-linear-gradient(#9f0909, #4e0000);
    background-image:linear-gradient(#9f0909, #4e0000);
    background-size: 1rem 200rem;
    font-size:0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
.monBody #container {
    width: 1300px;
    margin: 0 auto;
    background:#ffffff;
}
.monBody #header {
    height:140px;
    background-color:#000;
    color:#fff;
}

.menu_haut {background-color:#000;color:#fff;margin-top:-13px;width:100%;}
.menu_haut ul {
	width:100%;
	text-align:center;
	height:30px;
	margin-left:-50px;
	margin-right:-50px;
	}
.menu_haut li {
	text-decoration:none;
	font-weight:bold;
	display:inline;
	font-size:14px;
	padding:10px 10px 10px 10px;
	color:#fff;
	}
.menu_haut li a {
	color: #fff;
	text-decoration: none;
	display: inline;
	height: 100%;
	border: 0 none;
}
.menu_haut li a:hover {
	color:#000;
	background:#eee;
}

.monBody #contenu {
    padding:20px;
    overflow: auto;
}
.monBody #footer {
    padding: 0 10px;
    font-size:0.8em;
    text-align:center;
    height:150px;
    background:url(/image/footer.jpg) no-repeat;
}
.baniere{float:left;
  margin-top:20px;
  margin-left:5px;
  border:none;}
.baniere img{
  border:none;
}

#LogoNode {
    max-height: 20%;
    max-width: 20%;
}

a  {
    text-decoration:none;
    color:#0072ff;
}

.traitVertical {
  border-left: 1px white solid;
}

.vip{
    width: 150px;
    display: inline-block;
    margin: 20px;
}

.vip img{
    width: 100%;
    margin-bottom: 20px;
}

.photos{
    height: 100px;
    margin-right: 5px;
}

.details {
    text-align: left;
}

.details .vip {
    float: left;
}

#over {

    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.fullscale {
    max-height: calc(100% - 100px);
    max-width: calc(100% - 200px);
    height: 100%;
}

#over p {
    color: gray;
}

#over small {
    color: darkgray;
}

.tooltip {
    position: absolute;
    border-radius: 5px;
    border: 1px black solid;
    height: 125px;
    width: 350px;
    background: white;
    text-align: left;
    padding: 5px;
}

.tooltip p {
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip p:after {
    content: '...';
    position: absolute;
    bottom: 15px;
    right: 220px;
}

.tooltip img {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
}

.articles{
    display: inline-block;
    width: 74%;
    vertical-align: top;
    text-align: left;
}

.vipsArticle{
    display: inline-block;
    width: 24%;
    border-radius: 5px;
    border: solid black 1px;
    vertical-align: top;
}

.vipsArticle ul{
    padding: 0;
}

.vipsArticle li{
    list-style: none;
    text-decoration: none;
}

.vipsArticle .entete{
    background-color: black;
}

.article .date{
    display: inline-block;
}

.article .lienFiche{
    float: right;
    right: 0;
}

.article .bottom{
    background-color: rgba(0, 0, 255, 0.2);
}

.left{
    display: inline-block;
    width: 74%;
    vertical-align: top;
    text-align: center;
}

.right{
    display: inline-block;
    width: 24%;
    border-radius: 5px;
    border: solid black 1px;
    vertical-align: top;
    height: 300px;
}

.right img {
    width: 100%;
    height: 100%;
    width: calc(25% - 5px);
    height: calc(33% - 10px);
    display: inline-block;
    opacity: 0.5;
}

.right img:hover{
    opacity: 1;
}

#previous {
    color: white;
    position: absolute;
    left: 20px;
    bottom: 100px;
}

#next{
    color: white;
    position: absolute;
    right: 20px;
    bottom: 100px;
}

.adminMenu{
    display: inline-block;
    border-radius: 15px;
    width: 100px;
    vertical-align: top;
    overflow: hidden;
    border: 1px solid 
}

.adminMenu ul{
    padding-left: 0;
}

.adminMenu li{
    list-style: none;
}

.adminMenu .entete{
    background-color: black;
}

.adminOnTheRight{
    width: calc(100% - 250px);
    display: inline-block;
    vertical-align: top;
}